<div class="quiz-wrapper">
    <div class="quiz-header">
        <h1>Country Quiz</h1>
        <img src="../../../assets/images/undraw_adventure_4hum 1.svg">
    </div>
    <div class="quiz-card">
        <small  *ngIf="!capitalCity.length">Loading Content...</small>
        <h2 *ngIf="capitalCity.length" class="quiz-card-title">{{capitalCity[0]}} is the capital of</h2>

        <div class="choice-box">
            <div class="choice-flex">
                <span>A</span> <p>Vietnam</p>
            </div>
        </div>
        <div class="choice-box">
            <div class="choice-flex">
                <span>A</span> <p>Vietnam</p>
            </div>
        </div>
        <div class="choice-box">
            <div class="choice-flex">
                <span>A</span> <p>Vietnam</p>
            </div>
        </div>

    </div>
</div>